* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
input {
    width: 500px;
    padding: 5px;
    border-radius: 12px;
    border: 1px solid black;
    text-align: left;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
button {
    padding: 5px;
    border-radius: 12px;
    border: 1px solid black;
    text-align: left; 
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: 0px;
    cursor: pointer;
    background-color: lightcoral;
}
#scriptOutput {
    border: 1px dotted black;
    padding: 18px;
    margin: 18px;
    color: rgb(46, 46, 46);
    background-color: rgb(214, 214, 215);
    border-radius: 4px;
    margin-left: 400px;
    margin-right: 400px;
}
#storyPage {
    align-items: center;
}
h1 {
    text-align: center;
}
/* Vscode theme Color - rgb(46, 46, 46) */